<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>18183_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1746,310},{56,48}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,15},{56,48}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>18183_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1700,388},{86,82}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{86,82}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>360_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1956,2},{116,48}}</string>
                <key>offset</key>
                <string>{-22,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,19},{116,48}}</string>
                <key>sourceSize</key>
                <string>{160,80}</string>
            </dict>
            <key>bird.png</key>
            <dict>
                <key>frame</key>
                <string>{{1508,256},{140,72}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{140,72}}</string>
                <key>sourceSize</key>
                <string>{160,80}</string>
            </dict>
            <key>btn_adventure_normal_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1196,468},{236,72}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,28},{236,72}}</string>
                <key>sourceSize</key>
                <string>{240,128}</string>
            </dict>
            <key>btn_adventure_pressed_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1434,256},{236,72}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,28},{236,72}}</string>
                <key>sourceSize</key>
                <string>{240,128}</string>
            </dict>
            <key>btn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,176},{160,114}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,114}}</string>
                <key>sourceSize</key>
                <string>{160,128}</string>
            </dict>
            <key>btn_boss_normal_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,180},{232,74}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,28},{232,74}}</string>
                <key>sourceSize</key>
                <string>{240,128}</string>
            </dict>
            <key>btn_boss_pressed_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1508,100},{232,74}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,28},{232,74}}</string>
                <key>sourceSize</key>
                <string>{240,128}</string>
            </dict>
            <key>btn_freestone.png</key>
            <dict>
                <key>frame</key>
                <string>{{1196,268},{198,168}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{198,168}}</string>
                <key>sourceSize</key>
                <string>{200,168}</string>
            </dict>
            <key>btn_help_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1582,338},{80,52}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{80,52}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>btn_help_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,492},{80,48}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{80,48}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>btn_nest_normal_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1508,2},{222,96}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,29},{222,96}}</string>
                <key>sourceSize</key>
                <string>{240,128}</string>
            </dict>
            <key>btn_nest_pressed_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1732,2},{222,96}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,29},{222,96}}</string>
                <key>sourceSize</key>
                <string>{240,128}</string>
            </dict>
            <key>btn_setting_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1664,338},{80,48}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{80,48}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>btn_setting_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1618,486},{80,48}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{80,48}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>carrot.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,2},{176,156}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{176,156}}</string>
                <key>sourceSize</key>
                <string>{176,160}</string>
            </dict>
            <key>close_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,502},{28,32}}</string>
                <key>offset</key>
                <string>{16,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,5},{28,32}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>close_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,310},{50,50}}</string>
                <key>offset</key>
                <string>{15,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>cloud1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1956,120},{90,48}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,20},{90,48}}</string>
                <key>sourceSize</key>
                <string>{112,96}</string>
            </dict>
            <key>cloud2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1742,100},{212,92}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,13},{212,92}}</string>
                <key>sourceSize</key>
                <string>{224,144}</string>
            </dict>
            <key>code_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{576,264}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{576,264}}</string>
                <key>sourceSize</key>
                <string>{584,272}</string>
            </dict>
            <key>code_close_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1700,476},{56,56}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{56,56}}</string>
                <key>sourceSize</key>
                <string>{80,64}</string>
            </dict>
            <key>code_close_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1758,476},{56,56}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{56,56}}</string>
                <key>sourceSize</key>
                <string>{80,64}</string>
            </dict>
            <key>leaf-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1508,398},{100,92}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,20},{100,92}}</string>
                <key>sourceSize</key>
                <string>{104,112}</string>
            </dict>
            <key>leaf-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1700,194},{110,114}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,14},{110,114}}</string>
                <key>sourceSize</key>
                <string>{144,128}</string>
            </dict>
            <key>leaf-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,392},{92,88}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{92,88}}</string>
                <key>sourceSize</key>
                <string>{96,104}</string>
            </dict>
            <key>locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,376},{70,60}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,14},{70,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>mainbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{768,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,512}}</string>
                <key>sourceSize</key>
                <string>{768,512}</string>
            </dict>
            <key>mainbg_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,268},{422,232}}</string>
                <key>offset</key>
                <string>{-9,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,181},{422,232}}</string>
                <key>sourceSize</key>
                <string>{768,512}</string>
            </dict>
            <key>moregame_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1434,494},{100,42}}</string>
                <key>offset</key>
                <string>{6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,17},{100,42}}</string>
                <key>sourceSize</key>
                <string>{144,96}</string>
            </dict>
            <key>moregame_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,256},{118,60}}</string>
                <key>offset</key>
                <string>{5,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,8},{118,60}}</string>
                <key>sourceSize</key>
                <string>{144,96}</string>
            </dict>
            <key>news_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,502},{28,32}}</string>
                <key>offset</key>
                <string>{16,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,5},{28,32}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>news_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,310},{50,50}}</string>
                <key>offset</key>
                <string>{15,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>weiboicon01_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1896,194},{48,48}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,15},{48,48}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>weiboicon01_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,368},{86,82}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{86,82}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>weiboicon02_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1936,244},{48,48}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,15},{48,48}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>weiboicon02_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1816,456},{86,82}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{86,82}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>weiboicon03_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1936,294},{48,48}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,15},{48,48}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>weiboicon03_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1812,194},{86,82}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{86,82}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>weiboicon04_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1904,454},{48,48}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,15},{48,48}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>weiboicon04_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1848,282},{86,82}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{86,82}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>weiboicon05_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1952,344},{48,48}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,15},{48,48}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>weiboicon05_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1868,366},{86,82}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{86,82}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>weiboicon06_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1936,294},{48,48}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,15},{48,48}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>weiboicon06_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1812,194},{86,82}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{86,82}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainscene1-hd.pvr.ccz</string>
            <key>size</key>
            <string>{2006,542}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba9423385efa2fca8124ccc2149b5913:259b9de79d83098cf6acf1a8ca1b834c:f44dd1515fe1b4c1ee02a720d4bf54e7$</string>
            <key>textureFileName</key>
            <string>mainscene1-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
