<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Shelf.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,632},{154,212}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,9},{154,212}}</string>
                <key>sourceSize</key>
                <string>{160,232}</string>
            </dict>
            <key>add.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,1313},{42,43}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,15},{42,43}}</string>
                <key>sourceSize</key>
                <string>{74,67}</string>
            </dict>
            <key>add_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,1269},{42,43}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,15},{42,43}}</string>
                <key>sourceSize</key>
                <string>{74,67}</string>
            </dict>
            <key>buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,1304},{134,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,65}}</string>
                <key>sourceSize</key>
                <string>{134,65}</string>
            </dict>
            <key>close.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,1414},{63,64}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,20},{63,64}}</string>
                <key>sourceSize</key>
                <string>{87,96}</string>
            </dict>
            <key>close0.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,858},{49,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,25},{49,48}}</string>
                <key>sourceSize</key>
                <string>{87,96}</string>
            </dict>
            <key>clownfish.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,952},{176,72}}</string>
                <key>offset</key>
                <string>{43,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,0},{176,72}}</string>
                <key>sourceSize</key>
                <string>{290,138}</string>
            </dict>
            <key>crasyflash.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1130},{172,72}}</string>
                <key>offset</key>
                <string>{41,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,0},{172,72}}</string>
                <key>sourceSize</key>
                <string>{290,138}</string>
            </dict>
            <key>darkflash.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1284},{170,88}}</string>
                <key>offset</key>
                <string>{39,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,1},{170,88}}</string>
                <key>sourceSize</key>
                <string>{290,138}</string>
            </dict>
            <key>exchange.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,1027},{194,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,97}}</string>
                <key>sourceSize</key>
                <string>{194,97}</string>
            </dict>
            <key>exchange0.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,858},{211,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,68}}</string>
                <key>sourceSize</key>
                <string>{211,68}</string>
            </dict>
            <key>exchange1.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,788},{211,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,68}}</string>
                <key>sourceSize</key>
                <string>{211,68}</string>
            </dict>
            <key>exchange3.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,1034},{190,97}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{190,97}}</string>
                <key>sourceSize</key>
                <string>{194,97}</string>
            </dict>
            <key>gemexchange.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,570},{462,236}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{337,201},{462,236}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>gemrecycle.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,106},{462,236}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{337,201},{462,236}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>gemsite.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,1042},{115,107}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{115,107}}</string>
                <key>sourceSize</key>
                <string>{123,123}</string>
            </dict>
            <key>goods0.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,1334},{110,116}}</string>
                <key>offset</key>
                <string>{-1,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,34},{110,116}}</string>
                <key>sourceSize</key>
                <string>{160,232}</string>
            </dict>
            <key>goods1.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,1225},{116,144}}</string>
                <key>offset</key>
                <string>{-1,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,23},{116,144}}</string>
                <key>sourceSize</key>
                <string>{160,232}</string>
            </dict>
            <key>goods2.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,1159},{120,150}}</string>
                <key>offset</key>
                <string>{2,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,17},{120,150}}</string>
                <key>sourceSize</key>
                <string>{160,232}</string>
            </dict>
            <key>goods3.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,1343},{132,130}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,36},{132,130}}</string>
                <key>sourceSize</key>
                <string>{160,232}</string>
            </dict>
            <key>goods4.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,1311},{120,134}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,32},{120,134}}</string>
                <key>sourceSize</key>
                <string>{160,232}</string>
            </dict>
            <key>goods5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1374},{132,146}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,20},{132,146}}</string>
                <key>sourceSize</key>
                <string>{160,232}</string>
            </dict>
            <key>goods6.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,1286},{126,148}}</string>
                <key>offset</key>
                <string>{1,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,19},{126,148}}</string>
                <key>sourceSize</key>
                <string>{160,232}</string>
            </dict>
            <key>goods7.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,1194},{92,138}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,32},{92,138}}</string>
                <key>sourceSize</key>
                <string>{160,232}</string>
            </dict>
            <key>introduce.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,824},{448,368}}</string>
                <key>offset</key>
                <string>{-7,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{337,48},{448,368}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>jawsflash.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1194},{176,88}}</string>
                <key>offset</key>
                <string>{43,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,0},{176,88}}</string>
                <key>sourceSize</key>
                <string>{290,138}</string>
            </dict>
            <key>lionflash.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,1194},{170,90}}</string>
                <key>offset</key>
                <string>{39,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,0},{170,90}}</string>
                <key>sourceSize</key>
                <string>{290,138}</string>
            </dict>
            <key>market0.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,727},{205,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{205,58}}</string>
                <key>sourceSize</key>
                <string>{205,62}</string>
            </dict>
            <key>market1.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,520},{205,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{205,58}}</string>
                <key>sourceSize</key>
                <string>{205,62}</string>
            </dict>
            <key>moneyflash.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,1133},{180,90}}</string>
                <key>offset</key>
                <string>{43,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,0},{180,90}}</string>
                <key>sourceSize</key>
                <string>{290,138}</string>
            </dict>
            <key>petbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{288,102}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{288,102}}</string>
                <key>sourceSize</key>
                <string>{290,138}</string>
            </dict>
            <key>recycle.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,934},{106,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,21},{106,54}}</string>
                <key>sourceSize</key>
                <string>{112,96}</string>
            </dict>
            <key>reduce.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,1225},{42,43}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,16},{42,43}}</string>
                <key>sourceSize</key>
                <string>{74,67}</string>
            </dict>
            <key>reduce_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,908},{42,43}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,16},{42,43}}</string>
                <key>sourceSize</key>
                <string>{74,67}</string>
            </dict>
            <key>rmb.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,632},{24,34}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{24,34}}</string>
                <key>sourceSize</key>
                <string>{24,36}</string>
            </dict>
            <key>sale.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,928},{194,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,97}}</string>
                <key>sourceSize</key>
                <string>{194,97}</string>
            </dict>
            <key>sale0.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,1126},{190,97}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{190,97}}</string>
                <key>sourceSize</key>
                <string>{194,97}</string>
            </dict>
            <key>sdbj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{718,628}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,0},{718,628}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>sdbt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{464,190}}</string>
                <key>offset</key>
                <string>{-99,225}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,0},{464,190}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>shop0.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,313},{205,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{205,58}}</string>
                <key>sourceSize</key>
                <string>{205,62}</string>
            </dict>
            <key>shop1.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,106},{205,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{205,58}}</string>
                <key>sourceSize</key>
                <string>{205,62}</string>
            </dict>
            <key>shopsite.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{123,123}</string>
            </dict>
            <key>stunnedflash.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,1225},{178,90}}</string>
                <key>offset</key>
                <string>{44,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,0},{178,90}}</string>
                <key>sourceSize</key>
                <string>{290,138}</string>
            </dict>
            <key>xing.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,658},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shop.pvr.ccz</string>
            <key>size</key>
            <string>{1023,1508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c1f3befc2d4c406c5a0bd8b9d0d60c2$</string>
            <key>textureFileName</key>
            <string>shop.pvr.ccz</string>
        </dict>
    </dict>
</plist>
